body {
    background-color: hotpink;
}
.dress {
    flex-shrink: inherit;
    width: 30%;
    height: 40%;
    border: blueviolet;
    border-style: groove;
    border-radius: 5%;
    border-width: thick;
    align: center;
}
h1 {
    text-align: center;
    color: white;
    font-style: oblique;
    font-family: cursive;
}
h2 {
    color: white;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
}
.flexbox  {
     flex-direction: row;
}