html {
    background-repeat: repeat repeat-y;
    background: url(background/burst.jpg) no-repeat; 
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
    font-style: oblique;
    font-family: cursive;
}
h2 {
    color: white;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
}
h3 {
    color: blue;
    font-style: oblique;
    font-family: cursive;
    text-align: center;
}
h3:hover {
    color:hotpink;
}
.dress-container{
    display: flex;
}
.dress {
    
    flex-shrink: inherit;
    width: 200px;
    height: 300px;
    border: blueviolet;
    border-style: groove;
    border-radius: 5%;
    border-width: thick;
    align-items: stretch;
    padding: 3%;
    flex-flow: row;
    flex-wrap: wrap;
}
.dress1 {
background-color: lawngreen;
}
.dress2 {
background-color: purple;
}
.dress3 {
background-color: yellow;
}
.dress4 {
background-color: turquoise;
}
.dress5 {
background-color: darkorange;

}
.dress6 {
background-color: royalblue;
}